
.register .forms{
	display: flex;
	flex-direction: column;
	box-shadow: var(--color-shadow);
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
}
.register .form-control label{
	margin-left: 10px;
}
.register .form-control input,
.register .form-control select,
.register .form-control textarea{
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #888;
	outline: none;
	padding: 8px
}

.register .form-control select{
	
	text-transform: uppercase;
}

.register .form-control textarea{
	resize: none;
}
