/*estilo da sessão de ultimas saídas*/
.area-content{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}
.card-area{
	box-shadow: var(--color-shadow);
	background-color: #fff;
	border-radius: 5px;
}
.card-image	{
	padding: 7px;
}
.card-image img{
	width: 100%;
	object-fit: content;
}
.card-body{
	padding: 10px;
}





/*******graphics-area********/
.graphics-area{
	box-shadow: var(--color-shadow);
	background-color: #fff;
	border-radius: 5px;
}
