/*estilo da sessão de ultimas saídas*/
.area-content{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}
.card-area{
	box-shadow: var(--color-shadow);
	background-color: #fff;
	border-radius: 5px;
}
.card-image	{
	padding: 7px;
}
.card-image img{
	width: 100%;
	object-fit: content;
}
.card-body{
	padding: 10px;
}

.ctrl-search{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 0;
	height:	100%;


}
.ctrl-search a{
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 10px;
	color: #333;
	border: 1px solid rgba(0, 0, 255, .3);
	border-radius: 5px;
	padding: 3px;
}
.ctrl-search a .material-icons-outlined{
	font-size: 15px;
}
td a:hover{
	color: #fff;
	background-color: rgba(45,177,253,1);
}



/*******graphics-area********/
.graphics-area{
	display: flex;
	justify-content: center;
	box-shadow: var(--color-shadow);
	background-color: #fff;
	border-radius: 3px;
	margin-right: 20px;
	
}

